/* @font-face {
  font-family: Delicious;
  src: url('fonts/delicious/Delicious-Roman.otf')
  format("opentype");
  } */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color:rgb(228, 7, 7);
}

/* html {
  font-family: "jost", sans-serif;
  font-size: "1rem";
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5rem;
  color: #2b2e34;
} */

main {
  display: grid;
  align-items: center;
  justify-content: center;
}
  

img {
  width: 100%;
  height: max-content;
}

#panel {
  display: grid;
  align-items: center;
  padding: 2em;
}

.board {
  display:flex;
  justify-content: space-between;
  width: 55vw;
  margin-left: 7vw;
  /* margin-top: -102vh; */
}

#sOpponent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#sHome {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.score {
  display:flex;
  justify-content: space-between;
  height: 50vw;
  width: 55vw;
  margin-left: 4vw;
  margin-top: 20vh;
}

footer {
  display: grid;
  align-items: center;
}

#btnReset {
  color:red;
}
